* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.analogue-clock,
.digital-clock {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebfaff;
}

.analogue-clock__clock {
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../pngwing.png);
  background-size: cover;
  border: 4px solid #222222;
  border-radius: 50%;
  -webkit-box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .analogue-clock__clock {
    width: 300px;
    height: 300px;
  }
}
.analogue-clock__clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #f3a829;
  border-radius: 50%;
  z-index: 10000;
}
.analogue-clock__hour {
  position: absolute;
  width: 160px;
  height: 420px;
}
@media (max-width: 768px) {
  .analogue-clock__hour {
    height: 200px;
  }
}
.analogue-clock__hr {
  width: 160px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .analogue-clock__hr {
    height: 200px;
  }
}
.analogue-clock__hr::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 210px;
  background: #444444;
  z-index: 10;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .analogue-clock__hr::before {
    height: 100px;
  }
}
.analogue-clock__min {
  position: absolute;
  width: 190px;
  height: 530px;
}
@media (max-width: 768px) {
  .analogue-clock__min {
    height: 260px;
  }
}
.analogue-clock__mn {
  width: 190px;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .analogue-clock__mn {
    height: 260px;
  }
}
.analogue-clock__mn::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 265px;
  background: #444444;
  z-index: 11;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .analogue-clock__mn::before {
    height: 130px;
  }
}
.analogue-clock__sec {
  position: absolute;
  width: 230px;
  height: 530px;
}
@media (max-width: 768px) {
  .analogue-clock__sec {
    height: 260px;
  }
}
.analogue-clock__sc {
  width: 230px;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .analogue-clock__sc {
    height: 260px;
  }
}
.analogue-clock__sc::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 265px;
  background: #f3a829;
  z-index: 12;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .analogue-clock__sc::before {
    height: 130px;
  }
}

.digital-clock__box {
  position: relative;
  width: 600px;
  height: 400px;
  background: none;
  display: block;
}
.digital-clock__outter-clock {
  position: absolute;
  top: 42%;
  left: 10%;
  width: 80%;
  height: 50%;
  background: #dfe7ea;
  border: 8px solid #363130;
  border-radius: 40px;
  z-index: 2;
}
.digital-clock__inner-clock {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 90%;
  height: 70%;
  background: #363130;
  border-radius: 20px;
}
.digital-clock__am {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 20%;
  height: 20%;
  color: #fdfefe;
  line-height: 1.5;
  padding-left: 10%;
}
.digital-clock__am::after {
  content: "AM";
}
.digital-clock__am-dot {
  position: absolute;
  left: 20%;
  top: 24%;
  width: 10px;
  height: 10px;
  background: #6c301e;
  border-radius: 50%;
}
.digital-clock__pm {
  position: absolute;
  top: 55%;
  left: 5%;
  width: 20%;
  height: 20%;
  color: #fdfefe;
  line-height: 1.5;
  padding-left: 10%;
}
.digital-clock__pm::after {
  content: "PM";
}
.digital-clock__pm-dot {
  position: absolute;
  left: 20%;
  top: 24%;
  width: 10px;
  height: 10px;
  background: #6c301e;
  border-radius: 50%;
}
.digital-clock__time {
  position: absolute;
  top: 35%;
  left: 26%;
  width: 70%;
  padding: 10px 10px;
  font-size: 3rem;
  letter-spacing: 10px;
  color: #f3542f;
}
@media (max-width: 568px) {
  .digital-clock__time {
    left: 28%;
  }
}
.digital-clock__day {
  position: absolute;
  top: 10%;
  left: 26%;
  width: 70%;
  padding: 10px 10px;
  font-size: 1rem;
  letter-spacing: 5px;
  color: #f3542f;
}
@media (max-width: 568px) {
  .digital-clock__day {
    font-size: 0.8rem;
    letter-spacing: 2px;
    left: 28%;
    top: 15%;
  }
}
.digital-clock__leg-left {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 4%;
  height: 20%;
  background: #363130;
  border-radius: 40px;
}
.digital-clock__leg-right {
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 4%;
  height: 20%;
  background: #363130;
  border-radius: 40px;
}

.alert {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}
.alert__container {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: 5px;
  padding: 20px;
  letter-spacing: 3px;
  text-align: center;
}
@media (max-width: 768px) {
  .alert__container {
    width: 100%;
    margin: 0px 30px;
    padding: 10px;
  }
}
.alert__header {
  background-color: #fff;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 30px;
}
.alert__middle {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.alert__middle-img {
  width: 60px;
  -webkit-animation-name: imageAnimation;
          animation-name: imageAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (max-width: 768px) {
  .alert__middle-img {
    width: 40px;
  }
}
.alert__middle-title {
  color: rgb(255, 0, 0);
  font-weight: 700;
  font-size: 40px;
}
.alert__botttom {
  height: 50%;
  background-color: #7100aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 36px;
}
@media (max-width: 768px) {
  .alert__botttom {
    font-size: 28px;
  }
}
.alert__bottom-white {
  color: #fff;
}
.alert__bottom-black {
  color: #000000;
}

@-webkit-keyframes imageAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes imageAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}