* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.analogue-clock,
.digital-clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebfaff;
}

.analogue-clock {
  // .analogue-clock__clock
  &__clock {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../pngwing.png);
    background-size: cover;
    border: 4px solid #222222;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
      inset 0 -15px 15px rgba(255, 255, 255, 0.05),
      0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
    @media (max-width: 768px) {
      width: 300px;
      height: 300px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: #f3a829;
      border-radius: 50%;
      z-index: 10000;
    }
  }
  // .analogue-clock__hour
  &__hour {
    position: absolute;
    width: 160px;
    height: 420px;
    @media (max-width: 768px) {
      height: 200px;
    }
  }
  // .analogue-clock__hr
  &__hr {
    width: 160px;
    height: 420px;
    @media (max-width: 768px) {
      height: 200px;
    }
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 210px;
      background: #444444;
      z-index: 10;
      border-radius: 6px 6px 0 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      @media (max-width: 768px) {
        height: 100px;
      }
    }
  }
  // .analogue-clock__min
  &__min {
    position: absolute;
    width: 190px;
    height: 530px;
    @media (max-width: 768px) {
      height: 260px;
    }
  }
  // .analogue-clock__mn
  &__mn {
    width: 190px;
    height: 530px;
    @media (max-width: 768px) {
      height: 260px;
    }
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 265px;
      background: #444444;
      z-index: 11;
      border-radius: 6px 6px 0 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      @media (max-width: 768px) {
        height: 130px;
      }
    }
  }
  // .analogue-clock__sec
  &__sec {
    position: absolute;
    width: 230px;
    height: 530px;
    @media (max-width: 768px) {
      height: 260px;
    }
  }
  // .analogue-clock__sc
  &__sc {
    width: 230px;
    height: 530px;
    @media (max-width: 768px) {
      height: 260px;
    }
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 265px;
      background: #f3a829;
      z-index: 12;
      border-radius: 6px 6px 0 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      @media (max-width: 768px) {
        height: 130px;
      }
    }
  }
}

// colors
$bg: #444444;
$black: #444444;
$gray: #aaaaaa;

// shapes
$rouned: 40px;
$circle: 50%;

.digital-clock {
  // .digital-clock__box
  &__box {
    position: relative;
    width: 100%;
    height: 100%;

    background: none;
    display: block;
  }

  // .digital-clock__inner-clock
  &__inner-clock {
    width: 100%;
    height: 100%;
    background: #ebfaff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__left {
  }
  &__right {
  }
  // .digital-clock__am
  &__am {
    color: $bg;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 568px) {
      gap: 10px;
    }
    &::after {
      content: "AM";
    }
  }
  // .digital-clock__am-dot
  &__am-dot {
    width: 10px;
    height: 10px;
    border-radius: $circle;
  }
  // .digital-clock__pm
  &__pm {
    display: flex;
    align-items: center;
    gap: 20px;
    color: $bg;
    line-height: 1.5;
    @media (max-width: 568px) {
      gap: 10px;
    }
    &::after {
      content: "PM";
    }
  }
  // .digital-clock__pm-dot
  &__pm-dot {
    width: 10px;
    height: 10px;
    border-radius: $circle;
  }
  // .digital-clock__time
  &__time {
    padding: 10px 10px;
    letter-spacing: 10px;
    color: $black;
  }
  // .digital-clock__day
  &__day {
    padding: 10px 10px;
    letter-spacing: 5px;
    color: $black;
    text-align: center;
    @media (max-width: 568px) {
      letter-spacing: 2px;
    }
  }
}
@supports (font-size: clamp(1rem, 0.5597826087rem + 1.9565217391vw, 2.125rem)) {
  .digital-clock__right {
    font-size: clamp(1rem, 0.5597826087rem + 1.9565217391vw, 2.125rem);
  }
}

@supports not (
  font-size: clamp(1rem, 0.5597826087rem + 1.9565217391vw, 2.125rem)
) {
  .digital-clock__right {
    font-size: calc(1rem + 1.125 * (100vw - 22.5rem) / 57.5);
  }
}

@supports (gap: clamp(0.625rem, -0.3532608696rem + 4.347826087vw, 3.125rem)) {
  .digital-clock__inner-clock {
    gap: clamp(0.625rem, -0.3532608696rem + 4.347826087vw, 3.125rem);
  }
}

@supports not (
  gap: clamp(0.625rem, -0.3532608696rem + 4.347826087vw, 3.125rem)
) {
  .digital-clock__inner-clock {
    gap: calc(0.625rem + 2.5 * (100vw - 22.5rem) / 57.5);
  }
}

@supports (
  font-size: clamp(3.75rem, 0.3260869565rem + 15.2173913043vw, 12.5rem)
) {
  .digital-clock__time {
    font-size: clamp(3.75rem, 0.3260869565rem + 15.2173913043vw, 12.5rem);
  }
}

@supports not (
  font-size: clamp(3.75rem, 0.3260869565rem + 15.2173913043vw, 12.5rem)
) {
  .digital-clock__time {
    font-size: calc(3.75rem + 8.75 * (100vw - 22.5rem) / 57.5);
  }
}

@supports (
  margin-bottom: clamp(1.25rem, 0.5163043478rem + 3.2608695652vw, 3.125rem)
) {
  .digital-clock__am {
    margin-bottom: clamp(1.25rem, 0.5163043478rem + 3.2608695652vw, 3.125rem);
  }
}

@supports not (
  margin-bottom: clamp(1.25rem, 0.5163043478rem + 3.2608695652vw, 3.125rem)
) {
  .digital-clock__am {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 22.5rem) / 57.5);
  }
}

@supports (
  font-size: clamp(1.125rem, 0.3423913043rem + 3.4782608696vw, 3.125rem)
) {
  .digital-clock__day {
    font-size: clamp(1.125rem, 0.3423913043rem + 3.4782608696vw, 3.125rem);
  }
}

@supports not (
  font-size: clamp(1.125rem, 0.3423913043rem + 3.4782608696vw, 3.125rem)
) {
  .digital-clock__day {
    font-size: calc(1.125rem + 2 * (100vw - 22.5rem) / 57.5);
  }
}
.alert {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  // .alert__container
  &__container {
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 5px;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
    @media (max-width: 768px) {
      padding: 10px;
    }
  }
  // .alert__header
  &__header {
    background-color: #fff;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  // .alert__middle
  &__middle {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  // .alert__middle-img
  &__middle-img {
    width: 60px;
    animation-name: imageAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    @media (max-width: 768px) {
      width: 40px;
    }
  }
  // .alert__middle-title
  &__middle-title {
    color: rgb(255, 0, 0);
    font-weight: 700;
  }
  // .alert__botttom
  &__botttom {
    height: 50%;
    background-color: #7100aa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: 600;
  }
  // .alert__bottom-white
  &__bottom-white {
    color: #fff;
  }
  // .alert__bottom-black
  &__bottom-black {
    color: #000000;
  }
}

@supports (
  font-size: clamp(2.5rem, 1.6440217391rem + 3.8043478261vw, 4.6875rem)
) {
  .alert__header {
    font-size: clamp(2.5rem, 1.6440217391rem + 3.8043478261vw, 4.6875rem);
  }
}

@supports not (
  font-size: clamp(2.5rem, 1.6440217391rem + 3.8043478261vw, 4.6875rem)
) {
  .alert__header {
    font-size: calc(2.5rem + 2.1875 * (100vw - 22.5rem) / 57.5);
  }
}

@supports (
  font-size: clamp(3.125rem, 1.4130434783rem + 7.6086956522vw, 7.5rem)
) {
  .alert__middle-title {
    font-size: clamp(3.125rem, 1.4130434783rem + 7.6086956522vw, 7.5rem);
  }
}

@supports not (
  font-size: clamp(3.125rem, 1.4130434783rem + 7.6086956522vw, 7.5rem)
) {
  .alert__middle-title {
    font-size: calc(3.125rem + 4.375 * (100vw - 22.5rem) / 57.5);
  }
}

@supports (font-size: clamp(2.5rem, 1.5217391304rem + 4.347826087vw, 5rem)) {
  .alert__botttom {
    font-size: clamp(2.5rem, 1.5217391304rem + 4.347826087vw, 5rem);
  }
}

@supports not (
  font-size: clamp(2.5rem, 1.5217391304rem + 4.347826087vw, 5rem)
) {
  .alert__botttom {
    font-size: calc(2.5rem + 2.5 * (100vw - 22.5rem) / 57.5);
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
